.logging_window{
    display: block;
    padding: 9.5px;
    font-size: 13px;
    line-height: 1.42857143;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
    background-color: #d1b9b9;
    border: 1px solid rgb(145, 143, 143);
    border-radius: 4px;
    width: 75%;
    margin: auto;
}
